<div class="tarjeta row">  
    <div class="col-md-4 leftTeam">
      {{partido.equipo_local.nombre}}
    </div>
    <div class="col-md-1">
        <img src="./assets/img/{{partido.equipo_local.url}}" height="50px" alt="">
    </div>
    <div class="col-md-1">
      <h3>VS</h3>
    </div>
    <div class="col-md-1">
        <img src="./assets/img/{{partido.equipo_visitante.url}}" height="50px" alt="">
    </div>
    <div class="col-md-4 rightTeam">
      {{partido.equipo_visitante.nombre}}
    </div>
</div>
